* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
:root {
    --p1color1: #F6F1F1;
    --p1color2: #AFD3E2;
    --p1color3: #19A7CEaa;
    --p1color4: #146C94;
}
body {
    background-color: var(--p1color1);
}
header {
    background-color: var(--p1color4);
    padding: 10px;
    font-weight: bold;
    height: 58px;
    display: flex;
    align-items: center;
    color: white;
}
header a {
    color: white;
    cursor: pointer;

    padding: 11px;
}
header a:hover {
    background-color: #ffffff22;
}
header i {
    font-size: large;
}
header h1 {
    font-size: 20px;
    margin-left: 10px;
}
main {
    margin: 10px;
}
a {
    color: black;
    text-decoration: none;
}
/* Sections =======================================*/
/* Location */
#location {
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 10px;
}
#location a:hover {
    color: blue;
    text-decoration: underline;
}
/* Main Content */
#main-content {
    padding: 0 5px;
}
.button-links {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 10px;

    width: 100%;
    height: 100px;
    
    font-size: 20px;
    background-color: var(--p1color2);
    border: solid 2px var(--p1color4);
}
.button-links:hover {
    background-color: #9bbbc9;
}